.contagion-section {
  text-align: center;
}

.contagion__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 2.15;

  text-align: center;
  text-transform: capitalize;

  color: #4b4f51;
}
