.contagion {
  text-align: center;
}

.contagion__text {
  text-align: center;

  font-family: Lato;
  font-size: 18px;
  line-height: 2.15;
  text-transform: capitalize;
  color: $main-title-color;

  @include for-size(desktop) {
    max-width: 570px;
    display: inline-block;
  }
}

.contagion__image {
  display: flex;
  justify-content: center;

  @include for-size(tablet) {
    height: 235px;
  }
}

.contagion__item {
  margin-top: 16px;
  padding-bottom: 16px;

  background-color: $main-white-color;
  box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
  border-radius: 10px;

  @include for-size(tablet) {
    width: calc((100%-31 * 2) / 3);

    &:not(:last-child) {
      margin-right: 31px;
    }
  }

  @include for-size(desktop) {
    padding: 65px 49px 95px;
  }
}

.contagion__list {
  @include for-size(tablet) {
    display: flex;
  }

  @include for-size(desktop) {
    margin-top: 111px;
  }
}

.contagion__item-title {
  margin-top: 24px;

  font-family: Lato;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.47;
  text-transform: capitalize;
  color: $secondary-title-color;

  @include for-size(desktop) {
    margin-top: 55px;

    font-size: 36px;
    line-height: 1.47;
  }
}

.contagion__item-text {
  margin-top: 16px;

  text-align: center;

  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  text-transform: capitalize;
  color: $main-title-color;

  @include for-size(tablet) {
    margin-top: 13px;

    font-size: 14px;
    line-height: 2.15;
  }

  @include for-size(desktop) {
    font-size: 18px;
    line-height: 1.85;
  }
}
