.footer__main-block {
  @media screen and (max-width: 1739px) {
    margin-top: 24px;
  }

  @include for-size(tablet) {
    display: flex;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include for-size(desktop) {
    flex-wrap: nowrap;
  }
}

.footer__item {
  &:not(:last-child) {
    margin-right: 10px;
  }

  @include for-size(tablet) {
    margin-bottom: 0px;
    padding: 50px 0px 42px;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  @include for-size(desktop) {
    &:not(:last-child) {
      margin-right: 58px;
    }
  }

  & > a {
    text-decoration: none;

    font-family: Lato;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.22;
    color: $secondary-title-color;

    &:hover,
    &:focus {
      color: $primary-title-color;
    }

    @include for-size(tablet) {
      font-size: 18px;
    }
  }
}

.footer__links-list {
  margin-top: 32px;
  margin-bottom: 36px;

  justify-content: center;
  display: flex;

  @include for-size(tablet) {
    margin-left: 64px;
    padding-top: 12px;
    align-items: center;
  }

  @include for-size(desktop) {
    margin-left: 224px;
  }
}

.footer__link {
  &:not(:last-child) {
    margin-right: 12px;
  }

  @include for-size(desktop) {
    &:not(:last-child) {
      margin-right: 42px;
    }
  }
}

.footer__mark {
  margin-bottom: 24px;

  display: block;
  text-align: center;

  font-family: Lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: #415e56;

  @include for-size(desktop) {
    margin-top: 35px;
    font-size: 23px;
    line-height: 1.22;
  }
}
