.nav__item {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #fb4c47;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
