.header {
  @include for-size(tablet) {
    display: flex;
    border-bottom: 1px solid #000000;
  }
}

.header__nav-list {
  @include for-size(tablet) {
    display: flex;
  }
}

.header__nav-item {
  margin-bottom: 20px;

  @include for-size(tablet) {
    margin-bottom: 0px;
    padding: 50px 0px 42px;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  @include for-size(desktop) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  & > a {
    text-decoration: none;

    font-family: Lato;
    font-size: 18px;
    line-height: 1.22;

    color: $secondary-title-color;

    &:hover,
    &:focus {
      color: $primary-title-color;
    }
  }
}

.nav__btn {
  margin-top: 25px;
  padding: 12px 36px;

  align-items: center;
  display: inline-block;

  font-family: Lato;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  color: $primary-title-color;

  border: 2px solid $primary-title-color;
  box-sizing: border-box;
  border-radius: 46px;

  &:hover,
  &:focus {
    color: $secondary-title-color;
    border: 2px solid $secondary-title-color;
  }

  @include for-size(tablet) {
    margin-left: auto;
    padding: 16px 45px;
    margin-bottom: 25px;
  }
}
